# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Identify commonly used libraries in Data Science.
- Demonstrate examples of arithmetic operations in Python.
- Create tables and lists in markdown cells.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1.  NumPy
2.  Pandas
3.  Matplotlib
4.  Scikit-learn

# Data Science Tools

| Data Science Tools      |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

### Below are a few examples of evaluating arithmetic expressions in Python
1. Addition: `5 + 3` evaluates to **8**.
2. Subtraction: `10 - 4` evaluates to **6**.
3. Multiplication: `6 * 7` evaluates to **42**.

In [15]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [18]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author

Yaqi Sun